*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color-green{
    color: #198f00;
}
/* HEADER */
.header-top{
    display: flex;
    height: 68px;
    justify-content: space-between;
}
.header-top .logo-header{
    width: 20%;
    display: flex;
}
.header-top .logo-header > a{
    display: block;
    background-image: url("/assets/img/logo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    padding: 10%;
}
.header-top .logo-header .tag a{
    text-decoration: none;
}
.header-top .logo-header .tag p{
    font-size: 14px;
    margin: 0;
    line-height: 1.2;
    font-weight: 700;
}
.header-top .nav-header .nav-header-top{
    display: flex;
    justify-content: end;
    padding: 8px 12px 8px 0;
}
.nav-header .nav-header-top p{
    margin: 0;
    padding: 0 4px;
    font-size: 14px;
    font-weight: 500;
}
.nav-header .nav-header-top .login{
    border-right: 2px solid #000;
}
.nav-header .nav-header-top p:hover{
    color: #198f00;
    cursor: pointer;
}
.nav-header .nav-header-bot .nav-bar{
    list-style-type: none;
    padding: 0;
    display: flex;
}
.nav-header-bot .nav-bar > li{
    padding: 4px 16px;
}
.nav-header-bot .nav-bar > li + li{
    border-left: 2px solid #198f00;
}
.nav-header-bot .nav-bar li:hover > a{
    opacity: 0.5;
}
.nav-header-bot .nav-bar  a{
    color: #198f00;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}
.nav-header-bot .nav-bar .info-nav,
.nav-header-bot .nav-bar .nutrition-nav{
    position: relative;
}
.nav-header-bot .nav-bar .sub-nav{
    position: absolute;
    display: none;
    padding: 0 16px;
    list-style-type: none;
    left: 0;
    top: 100%;
    background-color: #e8e5e5;
}
.nav-bar .sub-nav li{
    padding: 8px 28px 8px 0;
}
.nav-bar .sub-nav li + li{
    border-top: 1px solid #c1bebe;
}
.nav-bar .sub-nav a{
    text-transform: none;
    white-space: nowrap;
    font-size: 14px;
}
.header .search-bar{
    height: 120px;
    background-color: #198f00;
    margin-top: 16px;
}
.search-bar .content-search-bar{
    width: 60%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}
/* .content-search-bar .left{
    width: 20%;
    height: 100%;
    position: relative;
}
.search-bar .content-search-bar img{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} */
.search-bar .right{
    width: 100%;
}
.search-bar .right h5{
    color: #fff;
    padding: 16px;
    margin: 0;
}
.search-bar .right .right-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-bar .right-top i{
    font-size: 28px;
    color: #fff;
    padding: 1px;
    border-radius: 50%;
}
.search-bar .right-top i:hover{
    color: #198f00;
    background-color: #fff;
}
.search-bar .right .right-bot{
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-bar .right-bot i{
    color: #198f00;
    font-size: 20px;
}
.search-bar .right-bot i:hover{
    cursor: pointer;
}
.search-bar .right-bot input{
    width: 90%;
    border: none;
    outline: none;
}
.search-bar .right-bot input::placeholder{
    color: #198f00;
}
/* HEADER */

/* CONTENT */
/* 1.navbarkehoach */
#content{
    margin-bottom: 100px;
}
#content .navbarkehoach{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-bottom: 0;
}
#content .navbarkehoach li{
    list-style-type: none;
    text-align: center;
    background-color: #dddee0;
    line-height: 46px;
}
#content .navbarkehoach li.active{
    background-color: #f4d942;
}

#content .navbarkehoach li.active span, img{
    color: #198f00;
    cursor: default;
    width: 38px;
    height: 25px;
}
#content .navbarkehoach li:nth-child(1){
    width: 40%;
    padding-left:20%;
}
#content .navbarkehoach li:nth-child(2){
    width: 20%;
}
#content .navbarkehoach li:nth-child(3){
    width: 40%;
    padding-right:20%;
}
#content .navbarkehoach a{
    text-decoration: none;
    color: #333;
}
#content .navbarkehoach a:hover{
    color: #198f00;
    transition: all 0.2s ease-in-out;
}
/* end navbarkehoach */

/* headermotTuan */
#content .row-motTuan {
    position: relative;
    padding: 50px 0 20px;
}
#content .col12-motTuan img{
    width: 100px;
    height: 25px;
    margin: 24px 0 10px;
}
#content .col12-motTuan h1{
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.col12-motTuan .icon-social a>i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px #fff solid;
    color: #198f00;
    background: #fff;
    text-align: center;
    line-height: 30px;
    box-shadow: 0 0 5px 0 #e3e3e3;
}

.col12-motTuan .icon-social a>i:hover{
    background-color: #198f00;
    color: #fff;
    transition: all 0.2s ease-in-out;
}
.col12-motTuan .col12-text {
    margin: 8px 0 24px;
    font-size:16px
}

.col2-icon i{
    border: 1px #a0a0a0 solid;
    border-radius: 5px;
    color: #a0a0a0;
    padding: 6px 10px;
}
.col2-icon i:hover{
    color: #198f00;
    border-color:#198f00 ;
    transition: all 0.2s ease;
}
.date span{
    padding-left: 32px;
    line-height: 32px;
}
.date input{
    width: 80%;
    height: 32px;
    border-radius: 4px;
    padding: 0 12px;
}

.col6-kehoach a{
    text-decoration: none;
}
.col6-kehoach span{
    border: 1px #198f00 solid;
    color: #198f00;
    padding: 6px 15px;
    border-radius: 30px;
}
.col6-kehoach span:hover{
    background-color: #198f00;
    color: #fff;
    transition: all 0.2s linear;
}
/* note-goiy */
.note-row{
    margin-bottom: 32px;
}
.note-goiy{
    background-color: #f0d960;
    font-size: 16px;
    position: relative;
    padding: 8px;
    border-radius: 8px;
}
.note-goiy i{
    font-size: 40px;
    position: absolute;
    top: -20px;
    right: 18%;
    color: #f0d960;
}

.note-goiy2{
    background-color:#f0f7b4; 
    position: relative;
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;

}
/* table */
.table-schedule table{
    width: 100%;
    color: #9d763f;
}
.table-schedule thead th{
    text-align: center;
    background: #9d763f;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
    border-right: 2px #fff solid;
    
}
.table-schedule tbody{
    padding : 2px;
}
.table-schedule tbody td{
    height: 250px;
    margin: 4px;
    border: 4px #fff solid;
}

.table-schedule .sang td{
    position: relative;
    background: #b2e1f3;
    padding: 7px 7px 200px;
    text-align: center;
}

.table-schedule .trua td{
    position: relative;
    background: #fdf5a4;
    padding: 7px 7px 200px;
    text-align: center;
}

.table-schedule .toi td{
    position: relative;
    background: #d4e5a1;
    padding: 7px 7px 200px;
    text-align: center;
}

.table-schedule .sang>td::after,
.table-schedule .trua>td::after,
.table-schedule .toi>td::after{
    content: ' ';
    width: 20px;
    border-bottom: 3px #9d763f solid;
    position: absolute;
    bottom: 80%;
    left: 42%;
}


.table-schedule .CT-daluu select {
    background: #a0a0a0;
    color: #fff;
    border-radius: 5px;
    padding: 12px;
    text-align: center;
    width: 100%;
    border: none;
    cursor: pointer;
}

/* CONTENT */

/* FOOTER */
.footer .footer-top{
    height: 64px;
    padding: 15px;
    background-color: #198f00;
}
.footer .footer-top ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .footer-top ul li{
    line-height: 34px;
    padding: 0 12px;
}
.footer .footer-top ul a{
    text-decoration: none;
    color: #fff;
}
.footer .footer-top ul a:hover{
    opacity: 0.7;
}
.footer .footer-bot{
    background-color: #166f04;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.footer .footer-bot p{
    margin: 0;
    color: #fff;
}
/* FOOTER */