

.content{
    background-color: #f0efea;
}
.content .popular-search{
    text-align: center;
}
.content .popular-search h2{
    font-size: 18px;
    padding: 16px;
    text-transform: uppercase;
    color: #333;
    margin: 0;
}
.content .popular-search .tag{
    display: flex;
    justify-content: center;
}
.popular-search .tag a{
    text-decoration: none;
    margin: 0;
    padding: 8px 12px;
    border-radius: 50px;
    transition: all .2s ease;
    color: #fff;
}
.popular-search .tag a + a{
    margin-left: 8px;
}
.popular-search .tag .mon-chay{
    background-color: #51bca2;
}
.popular-search .tag .an-vat{
    background-color: #ff981e;
}
.popular-search .tag .com-trua{
    background-color: #6161ba;
}
.popular-search .tag .mon-a{
    background-color: #a66730;
}
.popular-search .tag .mon-au{
    background-color: #88c14c;
}
.popular-search .tag .an-kieng{
    background-color: #fd5c24;
}
.popular-search .tag .thuc-don{
    background-color: #1b72c4;
}
.popular-search .tag .mon-nam{
    background-color: #ba0bb4;
}
.popular-search .tag a:hover{
    opacity: 0.6;
}
.content .menu-search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
.content .menu-search ul{
    list-style: none;
    display: flex;
}
.content .menu-search li{
    margin-left: 16px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 2px solid #f0efea;
    transition: all .3s ease;
    position: relative;
}
.content .menu-search li:hover{
    border-bottom: 2px solid #198f00;
}
.content .menu-search a + a{
    margin-left: 32px;
}
.content .menu-search i{
    padding-left: 4px;
}
.content .menu-search .nguyen-lieu{
    color: #6161ba;
}
.content .menu-search .cach-nau{
    color: #88c14c;
}
.content .menu-search .dip-le{
    color: #cf0000;
}
.content .menu-search .mon-an{
    color: #eec219;
}
.content .menu-search .gia-dinh{
    color: #2797cb;
}
.content .menu-search .vung-mien{
    color: #a66730;
}
.content .menu-search .xot-cham{
    color: #ff981e;
}
.menu-search .sub-menu{
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    width: 500px;
    padding: 8px;
    z-index: 10;
    border: 1px solid #198f00;
}
.menu-search li:hover .sub-menu{
    display: block;
}
.menu-search .sub-menu .line-menu + .line-menu{
    padding-top: 16px;
    border-top: 1px solid #e5dfdf;
}
.menu-search .sub-menu h4{
    font-size: 16px;
    color: #198f00;
}
.menu-search .sub-menu a{
    color: #333;
    font-size: 14px;
    text-transform: none;
    text-decoration: none;
    transition: all .3s ease;
    font-weight: 500;
}
.menu-search .sub-menu a:hover{
    color: #198f00;
}
.menu-search .sub-menu i{
    font-size: 6px;
    color: #198f00;
    padding-right: 12px;
}
.menu-search .cach-nau .sub-menu{
    width: 300px;
}
.menu-search .mon-an .sub-menu,
.menu-search .gia-dinh .sub-menu,
.menu-search .vung-mien .sub-menu{
    width: 200px;
}
.menu-search .mon-an .sub-menu a,
.menu-search .gia-dinh .sub-menu a,
.menu-search .vung-mien .sub-menu a{
    display: block;
    margin: 0;
    padding-bottom: 8px;
}
.content .youtube{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
}
.content .youtube .youtube-img{
    width: 50%;
    background-color: #fff;
}
.content .youtube-img img{
    width: 100%;
}
.content .youtube .youtube-intro{
    width: 45%;
}
.content .youtube-intro img{
    width: 94px;
}
.content .youtube-intro h1{
    font-size: 24px;
    text-transform: uppercase;
    padding: 16px 0 36px 0;
    margin: 0;
}
.content .youtube-intro p{
    font-size: 18px;
    font-weight: 300;
}
.view-all{
    display: block;
    width: 130px;
    text-align: center;
    text-decoration: none;
    color: #198f00;
    border: 1px solid #198f00;
    padding: 8px 20px;
    text-transform: uppercase;
    border-radius: 50px;
    margin-right: auto;
    margin-left: auto;
    transition: all ease .3s;
}
.view-all:hover{
    background-color: #198f00;
    color: #fff;
}
.content .explore{
    padding-top: 50px;
}
.content .explore .heading-explore{
    color: #333;
    font-weight: 500;
}
.content .explore .item-explore{
    margin: 26px;
    padding: 0;
    position: relative;
}
.content .item-explore img{
    width: 100%;
}
.content .item-explore .text-1{
    background-color: #198f00;
    padding: 16px;
}
.content .item-explore .text-2{
    background-color: #fff;
    padding: 16px;
}
.content .item-explore a{
    text-decoration: none;
}
.content .item-explore h3{
    font-size: 17px;
    color: #fff;
}
.content .item-explore p{
    display: inline-block;
    color: #fff;
    padding-top: 16px;
    padding-right: 16px;
    margin: 0;
}
.content .item-explore i{
    padding: 4px;
}
.content .text-2 h3{
    color: #198f00;
}
.content .text-2 p{
    color: #198f00;
}
.content .item-explore .btn-like{
    display: none;
    color: #198f00;
    font-size: 20px;
    padding: 8px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    right: 15%;
    box-shadow: 0px 0px 8px 0 #4d4d4b;
    animation: displayBtnLike1 ease .5s, displayBtnLike2 ease .5s .5s forwards;
}
.content .item-explore .btn-like:hover{
    cursor: pointer;
    background-color: #198f00;
    color: #fff;
}
.content .item-explore:hover .btn-like{
    display: block;
}
@keyframes displayBtnLike1{
    from{
        opacity: 0.2;
        transform: scale(0.5);
    }
    to{
        opacity: 1;
        transform: scale(1.2);
    }
}
@keyframes displayBtnLike2{
    from{
        transform: scale(1.2);
    }
    to{
        transform: scale(1);
    }
}
.content .poster{
    padding: 30px 0;
}
.content .poster img{
    width: 100%;
}
.icon-title{
    position: relative;
    width: 100px;
}
.icon-title i{
    color: #198f00;
    font-size: 24px;
    padding: 4px;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0efea;
}
.icon-title span{
    position: absolute;
    border: 2px solid #198f00;
    width: 100%;
    top: 50%;
    z-index: 1;
}
.title h2{
    padding-top: 30px;
    font-size: 20px;
    color: #333;
    font-weight: 700;
}
.eat-today .eat-today-slider{
    position: relative;
}
.eat-today .cover-item{
    margin: 0 16px;
}
.eat-today .item-slider{
    text-align: center;
    background-color: #fff;
    padding-bottom: 30px;
}
.eat-today .item-slider img{
    width: 100%;
    margin-bottom: 30px;
}
.eat-today .item-slider a{
    padding: 8px 20px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 50px;
    font-weight: 700;
    transition: all .2s ease-in-out;
    opacity: 0.6;
}
.eat-today .item-slider a:hover{
    opacity: 1;
}
.eat-today .eat-today-slider .btn-slide{
    padding: 8px;
    color: #198f00;
    background-color: #fff;
    border: 1px solid #198f00;
    border-radius: 4px;
}
.eat-today .eat-today-slider .btn-slide:hover{
    color: #fff;
    background-color: #198f00;
}
.eat-today .eat-today-slider .btn-left{
    position: absolute;
    top: 50%;
    left: -3%;
    transform: translateY(-50%);
    z-index: 3;
}
.eat-today .eat-today-slider .btn-right{
    position: absolute;
    top: 50%;
    right: -3%;
    transform: translateY(-50%);
}
.family {
    padding: 60px 0;
}
.family .item-family{
    padding: 0 0 30px 0;
    background-color: #fff;
    margin: 0 16px;
    text-align: center;
}
.family .item-family img{
    width: 100%;
    margin-bottom: 32px;
}
.family .item-family .btn-family{
    text-decoration: none;
    color: #198f00;
    padding: 8px 16px;
    background-color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 50px;
    border: 1px solid #198f00;
    transition: all .3s ease;
}
.family .item-family .btn-family:hover{
    color: #fff;
    background-color: #198f00;
}
.content .sauce{
    background: url("/assets/img/k-bg-monantrongthang.jpg") repeat-y left top;
    background-size: 100% auto;
    padding: 40px 0;
}
.content .sauce .title i{
    background: none;
}
.sauce .item-sauce{
    background-color: #fff;
    text-align: center;
    padding: 0 0 30px 0;
}
.sauce .item-sauce + .item-sauce{
    margin-left: 32px;
}
.sauce .item-sauce img{
    width: 100%;
    margin-bottom: 30px;
}
.sauce .item-sauce .btn-sauce{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 8px 16px;
    background-color: #ff981f;
    border-radius: 50px;
    transition: all .2s ease-in-out;
}
.sauce .item-sauce .btn-sauce:hover{
    opacity: 0.7;
}
.do-you-know {
    background: url("/assets/img/k-bg-thong-tin-huu-ich-home.jpg") repeat-x center top;
    padding: 30px 0;
}
.do-you-know .subtances-slider{
    position: relative;
    padding-top: 50px;
}
.do-you-know .subtances-slider .item-subtances{
    margin-right: 32px;
    background-color: #fff;
    border: 1px solid #b9b6b6;
    height: 430px;
}
.do-you-know .subtances-slider img{
    width: 100%;
    height: 60%;
}
.subtances-slider .btn-slide{
    padding: 8px 16px;
    color: #198f00;
    border: 2px solid #198f00;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    border-radius: 4px;
    transition: all .2s ease;
}
.btn-slide:hover{
    color: #fff;
    background-color: #198f00;
}
.subtances-slider .btn-right{
    top: 0;
    right: 44px;
}
.subtances-slider .btn-left{
    top: 0;
    right: 100px;
}
.subtances-slider .item-subtances .text{
    padding: 16px;
}
.subtances-slider .item-subtances a{
    color: #198f00;
    text-decoration: none;
    font-size: 18px;
}
.subtances-img{
    position: relative;
}
.subtances-img img{
    width: 450px;
}